<app-title title="Users List" />

<ul>
  @for ( user of usersService.users(); track user.id ) {
    <li class="flex items-center my-2 cursor-pointer text-lg font-bold hover:text-blue-500">

      <img
        [srcset]="user.avatar"
        [alt]="user.first_name"
        class="rounded w-14"
      />

      <a
        [routerLink]="['/dashboard/user', user.id]"
        class="mx-5"
      >
        {{ user.first_name }} {{ user.last_name }}
      </a>
    </li>
  } @empty {
    <li class="text-lg font-bold text-gray-400">
      No users found
    </li>
  }
</ul>
